
*.csv
Dataset/UK Accidents Data 2011-2014/UK Accidents - Codebook.xls
BUIDING AND MINING DATA WAREHOUSE/.vs/BUIDING AND MINING DATA WAREHOUSE/v16/.suo
BUIDING AND MINING DATA WAREHOUSE/.vs/slnx.sqlite
BUIDING AND MINING DATA WAREHOUSE/.vs/VSWorkspaceState.json
